/* 
  | Full name (use in theme)       | Shortcut (use in `className`) | Default Value |
  |--------------------------------|-------------------------------|---------------|
  | `--switch-width`               | `[--w:3rem]`                  | `3rem`        |
  | `--switch-height`              | `[--h:2rem]`                  | `1.7rem`      |
  | `--switch-transition-duration` | `[--duration:0.5s]`           | `200ms`       |
  | `--switch-track-color`         | `[--track:light-gray]`        | `#888`        |
  | `--switch-track-color-checked` | `[--track-checked:blue]`      | `#2b8a91`     |
  | `--switch-thumb-color`         | `[--thumb:white]`             | `white`       |
  | `--switch-thumb-color-checked` | `[--thumb-checked:#fff]`      | `white`       |
*/

:root {
  --outline-color: gray;
  --accent-color: hsl(184, 62%, 31%);

  --switch-width: 3rem;
  --switch-height: 1.7rem;
  --switch-transition-duration: 0.2s;
  --switch-track-color: #888;
  --switch-track-color-checked: var(--accent-color);
  --switch-thumb-color: white;
  --switch-thumb-color-checked: white;
}
